* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.section {
  width: 100%;
  float: left;
  clear: both;
}

body {
  overflow-x: hidden;
}

.topPanel {
  border-color: #fff;
  padding: 10px 0 5px;
}

.topPanel .navbar {
  float: left;
}

.topPanel .navbar ul {
  list-style: none;
}

.topPanel .navbar li {
  float: left;
}

.topPanel .navbar li a {
  font-weight: 300;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: #374470;
  text-decoration: none;
  padding-right: 20px;
}

.topPanel .navbar li a:hover {
  text-decoration: underline;
}

.topPanel .social {
  float: left;
}

.topPanel .social a {
  background-color: #34476b;
  width: 22px;
  height: 22px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  float: left;
  margin: 0 5px;
}

.topPanel .callBack {
  float: right;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.topPanel .callBack a, .topPanel .callBack div {
  float: left;
}

.topPanel .callBack a {
  font-family: 'Roboto', sans-serif;
  color: #666666;
  font-size: 18px;
  text-decoration: none;
  display: block;
  padding-left: 30px;
  background-image: url("../images/icons/call.png");
  background-repeat: no-repeat;
  background-position: left center;
}

.topPanel .callBack a:hover {
  text-decoration: underline;
}

.topPanel .callBack .keyCallBack {
  font-family: 'Roboto' , sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #ae1c51;
  margin-left: 15px;
  cursor: pointer;
}

.topPanel .callBack .keyCallBack span {
  border-bottom: 1px dotted #ae1c51;
}

.searchTop {
  padding: 10px 0 20px;
  border-bottom: 1px solid #e9e9e9;
}

.searchTop .logo {
  float: left;
  margin-right: 30px;
  margin-top: 5px;
}

.searchTop .searchField {
  position: relative;
  display: block;
  float: left;
}

.searchTop .searchField .textField {
  border: 1px solid #e9e9e9;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 50px;
  width: 720px;
  padding: 5px;
  display: block;
}

.searchTop .searchField .sendField {
  position: absolute;
  right: 0;
  top: 15px;
  right: 15px;
}

.searchTop .empty {
  border: 1px solid #ac1c57;
  color: #ac1c57;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  height: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  width: 190px;
  font-family: 'Roboto' , sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.categoryNav {
  width: 100%;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
}

.categoryNav .navbar {
  position: relative;
  z-index: 10;
}

.categoryNav .navbar > ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.categoryNav .navbar > ul > li {
  float: left;
  list-style: none;
  padding: 25px 0;
}

.categoryNav .navbar > ul > li[data-status="hidden"] .navContent {
  display: none;
}

.categoryNav .navbar > ul > li[data-status="visible"] .navContent {
  display: block;
}

.categoryNav .navbar span {
  text-decoration: none;
  font-family: 'Roboto' , sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #666666;
  background-image: url("../images/icons/arrowBottom.png");
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 35px;
  cursor: pointer;
}

.categoryNav .navContent {
  position: absolute;
  top: 69px;
  width: 1140px;
  max-width: 100%;
  background-color: #fff;
  z-index: 999;
  left: 0;
  padding: 15px 20px 55px;
  height: 175px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  overflow: hidden;
}

.categoryNav .navContent > ul > li > a {
  text-transform: uppercase;
  display: block;
  margin-bottom: 13px;
}

.categoryNav .navContent li {
  list-style: none;
  margin: 7px 0;
  display: block;
}

.categoryNav .navContent li[data-more="true"] {
  float: left;
}

.categoryNav .navContent li[data-more="false"] {
  padding-top: 5px;
}

.categoryNav .navContent li > ul.col-2 {
  width: 350px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.categoryNav .navContent li > ul.col-2 > li {
  float: left;
  margin-right: 90px;
  width: 80px;
}

.categoryNav .navContent li > ul.col-1 {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
}

.categoryNav .navContent li > ul.col-1 > li {
  float: none;
  margin-right: 90px;
  width: 80px;
}

.categoryNav .navContent li a {
  list-style: none;
  font-family: 'Roboto' , sans-serif;
  font-size: 14px;
  color: #000;
  text-decoration: none;
}

.categoryNav .navContent li a:hover {
  text-decoration: underline;
}

.categoryNav .navContent .actionBanner {
  position: absolute;
  top: 0;
  right: 0;
}

.footer {
  padding: 40px 0;
  background-color: #eeeeee;
}

.footer .container > div {
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.footer .container > div .title {
  font-family: 'Roboto' , sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #666666;
  margin-bottom: 10px;
}

.footer .container > div a {
  text-decoration: none;
  font-family: 'Roboto' , sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #37466f;
}

.footer .container > div a:hover {
  text-decoration: underline;
}

.footer .container > div li {
  list-style: none;
  padding: 5px 0;
}

.footer .container > div span {
  font-family: 'Roboto' , sans-serif;
  color: #525252;
  font-size: 14px;
  font-weight: 300;
}

.footer .container > div span a {
  color: #525252;
}

.footer .sector1 {
  width: 26%;
  padding: 0 25px;
}

.footer .sector1 .about {
  padding: 20px 0 15px;
}

.footer .sector1 .fieldGroup .textField {
  width: 160px;
  height: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #333;
  border: 0;
  display: block;
  float: left;
}

.footer .sector1 .fieldGroup .sendField {
  width: 30px;
  height: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ae1c51;
  background-color: #fff;
  background-image: url("../images/icons/arrowPodpiska.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.footer .sector2 {
  width: 20.6%;
  padding: 0 50px 0 25px;
}

.footer .sector3 {
  width: 33.3%;
  padding: 0 25px;
}

.footer .sector3 li {
  padding-left: 25px !important;
}

.footer .sector3 .address {
  background-image: url("../images/icons/footerAddress.png");
  background-repeat: no-repeat;
  background-position: left 8px;
}

.footer .sector3 .email {
  background-image: url("../images/icons/footerEmail.png");
  background-repeat: no-repeat;
  background-position: left 8px;
}

.footer .sector3 .skype {
  background-image: url("../images/icons/footerSkype.png");
  background-repeat: no-repeat;
  background-position: 10px 0;
  padding-left: 35px;
}

.footer .sector3 .call {
  background-image: url("../images/icons/call.png");
  background-repeat: no-repeat;
  background-position: left 8px;
}

.footer .sector3 .time {
  background-image: url("../images/icons/footerTimeWork.png");
  background-repeat: no-repeat;
  background-position: left 8px;
}

.footer .sector4 {
  width: 20.1%;
  padding: 0 25px;
}

.footer .sector4 a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer .sector4 a img {
  margin-left: 8px;
}

.copyright {
  background-color: #eeeeee;
  padding: 20px 0 15px;
  text-align: center;
  border-top: 1px solid #dedede;
}

.copyright span {
  font-family: 'Roboto' , sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #999898;
}

.hidden {
  display: none;
}

.animKey {
  -webkit-transition-duration: .5s;
  -o-transition-duration: .5s;
  transition-duration: .5s;
}

.animKey:hover {
  background-color: #b01b52 !important;
  opacity: 1 !important;
  color: #fff !important;
}

@-webkit-keyframes dropTop {
  0% {
    margin-top: -100px;
  }
  100% {
    margin-top: 100px;
  }
}

@keyframes dropTop {
  0% {
    margin-top: -100px;
  }
  100% {
    margin-top: 100px;
  }
}

.modalWindow {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  display: none;
}

.modalWindow[data-modal-status="visab"] {
  display: block;
}

.modalWindow[data-modal-status="visab"] .contentWindowModal {
  margin-top: 100px;
  -webkit-animation: dropTop .5s;
  animation: dropTop .5s;
}

.modalWindow[data-modal-status="hidden"] {
  display: none;
}

.modalWindow[data-modal-status="hidden"] .contentWindowModal {
  margin-top: -100px;
  -webkit-animation: dropTop .5s;
  animation: dropTop .5s;
}

.modalWindow .close {
  cursor: pointer;
}

.modalWindow .contentWindowModal {
  margin: -100px auto 0 auto;
  -webkit-animation: dropTop .5s;
  animation: dropTop .5s;
  position: relative;
}

.modalWindow .contentWindowModal .close {
  position: absolute;
  bottom: 100%;
  margin-bottom: -15px;
  left: 100%;
  margin-left: -10px;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #ae1c51;
  width: 30px;
  height: 30px;
  background-image: url("../images/icons/rmParamRed.png");
  background-position: center;
  background-repeat: no-repeat;
}

.sizeWindow .contentWindowModal {
  width: 670px;
  max-width: 80%;
  background-color: #fff;
  padding: 30px  15px 15px 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sizeWindow .contentWindowModal .table {
  border: 1px solid #010101;
}

.sizeWindow .contentWindowModal .table .row {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  border-bottom: 1px solid #808080;
}

.sizeWindow .contentWindowModal .table .row:last-child {
  border: 0;
}

.sizeWindow .contentWindowModal .table .col {
  width: 33.3%;
  text-align: center;
  border-right: 1px solid #808080;
}

.sizeWindow .contentWindowModal .table .col:last-child {
  border: 0;
}

.sizeWindow .contentWindowModal .table .firstRow .col b {
  font-family: 'Roboto' , sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.sizeWindow .contentWindowModal .table .justRow .col span {
  font-family: 'Roboto' , sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.sizeWindow .contentWindowModal .title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.orderWindow .contentWindowModal, .sayWhreWill .contentWindowModal {
  width: 400px;
  background-color: #fff;
  padding: 40px 30px 20px 30px;
  max-width: 80%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.orderWindow .contentWindowModal .title, .sayWhreWill .contentWindowModal .title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 26px;
  font-weight: 400;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.orderWindow .contentWindowModal .fieldGroup, .sayWhreWill .contentWindowModal .fieldGroup {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  float: left;
}

.orderWindow .contentWindowModal .fieldGroup label, .sayWhreWill .contentWindowModal .fieldGroup label {
  font-family: 'Roboto' , sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #000;
  display: block;
  width: 100px;
  float: left;
  height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.orderWindow .contentWindowModal .fieldGroup .inpt, .sayWhreWill .contentWindowModal .fieldGroup .inpt {
  width: 255px;
  max-width: 65%;
  height: 40px;
  border: 1px solid #e9e9e9;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
}

.orderWindow .contentWindowModal .fieldGroup .customSelect, .sayWhreWill .contentWindowModal .fieldGroup .customSelect {
  display: block;
  float: right;
  color: #999999;
  font-family: 'Roboto' , sans-serif;
  font-size: 14px;
  font-weight: 300;
  width: 255px;
  height: 40px;
  padding-left: 20px;
  background-image: url("../images/icons/arrowBottom.png");
  background-repeat: no-repeat;
  background-position: right 25px center;
  padding-right: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  padding-top: 10px;
  border: 1px solid #e9e9e9;
  max-width: 65%;
}

.orderWindow .contentWindowModal .fieldGroup select, .sayWhreWill .contentWindowModal .fieldGroup select {
  right: 0;
  top: 0;
}

.orderWindow .contentWindowModal .fieldGroup .phoneField, .sayWhreWill .contentWindowModal .fieldGroup .phoneField {
  font-family: 'Roboto' , sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #999999;
}

.orderWindow .contentWindowModal .wrap, .sayWhreWill .contentWindowModal .wrap {
  text-align: center;
}

.orderWindow .contentWindowModal .orderNow, .sayWhreWill .contentWindowModal .orderNow {
  font-family: 'Roboto' ,sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #b01b52;
  text-transform: uppercase;
  text-align: center;
  border: 0;
  height: 50px;
  padding: 0 28px;
  margin-top: 15px;
  cursor: pointer;
}

.orderWindow .contentWindowModal .orderNow:hover, .sayWhreWill .contentWindowModal .orderNow:hover {
  opacity: .9;
}

.callBackWindow .contentWindowModal {
  width: 400px;
  background-color: #fff;
  padding: 40px 30px 20px 30px;
  max-width: 80%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.callBackWindow .contentWindowModal .title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 26px;
  font-weight: 400;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.callBackWindow .contentWindowModal .fieldGroup {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  float: left;
}

.callBackWindow .contentWindowModal .fieldGroup label {
  font-family: 'Roboto' , sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #000;
  display: block;
  width: 100px;
  float: left;
  height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.callBackWindow .contentWindowModal .fieldGroup .inpt {
  width: 255px;
  height: 40px;
  border: 1px solid #e9e9e9;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  max-width: 65%;
}

.callBackWindow .contentWindowModal .fieldGroup .customSelect {
  max-width: 65%;
  display: block;
  float: right;
  color: #999999;
  font-family: 'Roboto' , sans-serif;
  font-size: 14px;
  font-weight: 300;
  width: 255px;
  height: 40px;
  padding-left: 20px;
  background-image: url("../images/icons/arrowBottom.png");
  background-repeat: no-repeat;
  background-position: right 25px center;
  padding-right: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  padding-top: 10px;
  border: 1px solid #e9e9e9;
}

.callBackWindow .contentWindowModal .fieldGroup select {
  right: 0;
  top: 0;
  max-width: 65%;
}

.callBackWindow .contentWindowModal .fieldGroup .phoneField {
  font-family: 'Roboto' , sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #999999;
  max-width: 65%;
}

.callBackWindow .contentWindowModal .wrap {
  text-align: center;
}

.callBackWindow .contentWindowModal .orderNow {
  font-family: 'Roboto' ,sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #b01b52;
  text-transform: uppercase;
  text-align: center;
  border: 0;
  height: 50px;
  padding: 0 28px;
  margin-top: 15px;
  cursor: pointer;
}

.callBackWindow .contentWindowModal .orderNow:hover {
  opacity: .9;
}

.orderWindow .contentWindowModal {
  width: 500px;
  max-width: 85%;
}

.orderWindow .img {
  width: 50px;
  float: left;
  margin-right: 20px;
}

.orderWindow .img img {
  width: 100%;
}

.orderWindow .aboutProduct {
  float: left;
  width: 50%;
}

.orderWindow .aboutProduct .nameProduct {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000;
  margin-top: 20px;
}

.orderWindow .aboutProduct .color {
  color: #000;
  font-family: 'Roboto' , sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.orderWindow .paramProduct {
  float: right;
}

.orderWindow .paramProduct .orderSelect {
  width: 155px;
  height: 35px;
  font-family: 'Roboto' , sans-serif;
  font-size: 14px;
  color: #b01b52;
  font-weight: 300;
  background-color: #f8f8f8;
  text-transform: uppercase;
  background-image: url("../images/icons/arrowBottom.png");
  background-repeat: no-repeat;
  background-position: right 20px center;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  float: right;
  clear: both;
  margin-top: 20px;
  cursor: pointer;
}

.orderWindow .paramProduct .customSelectInner {
  padding-top: 10px;
}

.orderWindow .wrap {
  width: 100%;
}

.orderWindow .wrap .colInfo {
  float: left;
  width: 200px;
  margin-top: 75px;
}

.orderWindow .wrap .colInfo .priceWill {
  font-family: 'Roboto' , sans-serif;
  font-size: 18px;
  color: #000;
}

.orderWindow .wrap .colInfo .breakPrice {
  font-family: 'Roboto' , sans-serif;
  font-size: 14px;
  color: #000;
  position: relative;
  display: inline-block;
}

.orderWindow .wrap .colInfo .breakPrice:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #b01b52;
  top: 50%;
}

.orderWindow .wrap .colInfo .countField {
  display: inline-block;
  float: left;
}

.orderWindow .wrap .colInfo .countField input {
  width: 45px;
  background-color: #f8f8f8;
  border: 0;
  height: 35px;
  float: left;
  text-align: center;
  font-family: 'Roboto' , sans-serif;
  font-size: 14px;
  color: #666666;
}

.orderWindow .wrap .colInfo .countField .minus {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
  display: block;
  cursor: pointer;
}

.orderWindow .wrap .colInfo .countField .plus {
  float: left;
  margin-left: 10px;
  margin-top: 8px;
  display: block;
  cursor: pointer;
}

.orderWindow .wrap .orderNow {
  margin-top: 30px;
  margin-left: 85px;
}

.deleteProduct .contentWindowModal {
  width: 400px;
  max-width: 85%;
  background-color: #fff;
  padding: 30px 15px 20px 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.deleteProduct .contentWindowModal .about {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.deleteProduct .contentWindowModal .productImg {
  float: left;
  margin-right: 20px;
}

.deleteProduct .contentWindowModal .productImg img {
  width: 50px;
}

.deleteProduct .contentWindowModal .nameProduct {
  font-family: 'Source Sans Pro' , sans-serif;
  font-size: 18px;
  color: #000;
  font-weight: 400;
  margin-bottom: 5px;
  margin-top: 10px;
}

.deleteProduct .contentWindowModal .color {
  font-family: 'Roboto' , sans-serif;
  font-size: 14px;
  color: #000;
  font-weight: 300;
}

.deleteProduct .contentWindowModal .title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #000;
  text-transform: unset !important;
}

.deleteProduct .contentWindowModal .animKey {
  color: #b01b52;
  font-family: 'Roboto' , sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  background-color: #f8f8f8;
  border: 0;
  width: 40%;
  height: 50px;
  cursor: pointer;
}

.deleteProduct .contentWindowModal .removeKey {
  float: right;
}

.deleteProduct .contentWindowModal .wrap {
  margin-top: 60px;
}

.bgNone {
  background-image: none !important;
}

.punctir {
  position: relative;
  text-decoration: none !important;
}

.punctir:after {
  border: 1px dotted #b01b52;
  width: 100%;
  content: "";
  position: absolute;
  bottom: 4px;
  left: 0;
}

/*# sourceMappingURL=style.css.map */
