*
	margin: 0
	padding: 0
.container
	width: 1140px
	margin: 0 auto
.section
	width: 100%
	float: left
	clear: both	
body
	overflow-x: hidden
.topPanel
	border-color: #fff
	padding: 10px 0 5px
	.navbar
		float: left
		ul
			list-style: none
		li
			float: left
			a
				font-weight: 300
				font-size: 14px 
				font-family: 'Roboto', sans-serif
				color: #374470
				text-decoration: none
				padding-right: 20px
				&:hover
					text-decoration: underline
	.social
		float: left
		a
			background-color: #34476b
			width: 22px
			height: 22px
			display: flex
			align-items: center
			justify-content: space-around
			border-radius: 100%
			float: left
			margin: 0 5px
	.callBack
		float: right
		display: flex
		align-items: center
		a,div
			float: left
		a
			font-family: 'Roboto', sans-serif
			color: #666666
			font-size: 18px
			text-decoration: none
			display: block
			padding-left: 30px
			background-image: url('../images/icons/call.png')
			background-repeat: no-repeat
			background-position: left center
			&:hover
				text-decoration: underline
		.keyCallBack
			font-family: 'Roboto' , sans-serif
			font-size: 14px
			font-weight: 300
			color: #ae1c51
			margin-left: 15px
			cursor: pointer
			span
				border-bottom: 1px dotted #ae1c51
.searchTop
	padding: 10px 0 20px
	border-bottom: 1px solid #e9e9e9
	.logo
		float: left
		margin-right: 30px
		margin-top: 5px	
	.searchField
		position: relative
		display: block
		float: left
		.textField
			border: 1px solid #e9e9e9
			box-sizing: border-box
			height: 50px
			width: 720px
			padding: 5px
			display: block
		.sendField
			position: absolute
			right: 0
			top: 15px
			right: 15px
	.empty
		width: 
		border: 1px solid #ac1c57
		color: #ac1c57
		display: flex
		align-items: center
		justify-content: space-around
		height: 50px
		box-sizing: border-box
		float: right
		width: 190px
		font-family: 'Roboto' , sans-serif
		font-size: 14px
		font-weight: 300
.categoryNav
	width: 100%
	.navbar
		position: relative
		z-index: 10
		&>ul
			display: flex
			justify-content: space-around
			&>li
				float: left
				list-style: none
				padding: 25px 0
				&[data-status="hidden"]
					.navContent
						display: none
				&[data-status="visible"]
					.navContent
						display: block
		span
			text-decoration: none
			font-family: 'Roboto' , sans-serif
			font-size: 16px
			font-weight: 300
			color: #666666
			background-image: url('../images/icons/arrowBottom.png')
			background-repeat: no-repeat
			background-position: right center
			padding-right: 35px
			cursor: pointer
	.navContent
		position: absolute
		top: 69px
		width: 1140px
		background-color: #fff
		z-index: 999
		left: 0
		padding: 15px 20px 55px
		height: 175px
		box-sizing: border-box
		float: left
		overflow: hidden
		&>ul
			&>li
				&>a
					text-transform: uppercase
					display: block
					margin-bottom: 13px
		li
			list-style: none
			margin: 7px 0
			display: block
			&[data-more="true"]
				float: left
			&[data-more="false"]
				padding-top: 5px
			&>ul
				&.col-2
					width: 350px
					display: flex
					flex-wrap: wrap
					&>li
						float: left
						margin-right: 90px
						width: 80px
				&.col-1
					column-count: 1
					&>li
						float: none
						margin-right: 90px
						width: 80px
				// &.col-3
				// 	column-count: 3
				// list-style-type: decimal;
			a
				list-style: none
				font-family: 'Roboto' , sans-serif
				font-size: 14px
				color: #000
				text-decoration: none
				&:hover
					text-decoration: underline
		.actionBanner
			position: absolute
			top: 0 
			right: 0
.footer
	padding: 40px 0
	background-color: #eeeeee
	.container
		&>div
			float: left
			box-sizing: border-box
			.title
				font-family: 'Roboto' , sans-serif
				font-size: 14px
				font-weight: 700
				color: #666666
				margin-bottom: 10px
			a
				text-decoration: none
				font-family: 'Roboto' , sans-serif
				font-size: 14px
				font-weight: 300
				color: #37466f
				&:hover
					text-decoration: underline
			li
				list-style: none
				padding: 5px 0
			span
				font-family: 'Roboto' , sans-serif
				color: #525252
				font-size: 14px
				font-weight: 300
				a
					color: #525252				
	.sector1
		width: 26%
		padding: 0 25px 
		.about
			padding: 20px 0 15px
		.fieldGroup
			.textField
				width: 160px
				height: 30px
				box-sizing: border-box
				padding: 5px
				font-family: 'Roboto', sans-serif
				font-weight: 300
				color: #333
				border: 0
				display: block
				float: left
			.sendField
				width: 30px
				height: 30px
				box-sizing: border-box
				border: 1px solid #ae1c51
				background-color: #fff
				background-image: url('../images/icons/arrowPodpiska.png')
				background-repeat: no-repeat
				background-position: center
				cursor: pointer
	.sector2
		width: 20.6%
		padding: 0 50px 0 25px
	.sector3
		width: 33.3%
		padding: 0 25px
		li
			padding-left: 25px !important
		.address
			background-image: url('../images/icons/footerAddress.png')
			background-repeat: no-repeat
			background-position: left 8px
		.email
			background-image: url('../images/icons/footerEmail.png')
			background-repeat: no-repeat
			background-position: left 8px
		.skype
			background-image: url('../images/icons/footerSkype.png')
			background-repeat: no-repeat
			background-position: 10px 0
			padding-left: 35px
		.call
			background-image: url('../images/icons/call.png')
			background-repeat: no-repeat
			background-position: left 8px
		.time
			background-image: url('../images/icons/footerTimeWork.png')
			background-repeat: no-repeat
			background-position: left 8px
	.sector4
		width: 20.1%
		padding: 0 25px
		a
			display: flex
			align-items: center
			img
				margin-left: 8px
.copyright
	background-color: #eeeeee
	padding: 20px 0 15px
	text-align: center
	border-top: 1px solid #dedede
	span
		font-family: 'Roboto' , sans-serif;
		font-size: 12px
		font-weight: 300
		color: #999898